.container {
  text-align: center;
}

.container input {
  width: 50%;
  margin: auto;
}

.form {
  background-color: rgba(184, 184, 184, 0.514);
  border: 3px solid rgb(185, 185, 185);
  width: 50vw;
  margin: auto;
  padding: 3rem;
  margin-top: 2rem;
}

.container button {
  margin: 3rem;
}

.title {
  padding: 1rem;
  margin: 2rem;
}

@media only screen and (max-width: 750px) {
  .container {
    width: 75vw;
  }

  .container input {
    width: 50%;
    margin: auto;
  }
  .form {
    width: 70vw;
    margin: auto;
    padding: 1rem;
    margin-top: 2rem;
  }
}
