@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

* {
  box-sizing: border-box;
}
html {
  background-color: #ffffff;
  background-image: url(http://www.transparenttextures.com/patterns/escheresque-dark.png);
}

body {
  margin: 0;
}

#root {
  background-color: #ffffff;
  background-image: url(http://www.transparenttextures.com/patterns/escheresque-dark.png);
}

@media only screen and (min-width: 750px) {
  .home {
    display: flex;
  }

  .heroteam-container {
    width: 100vw;
  }
  .form-control {
    background-color: white;
    margin-left: 30%;
  }
}

.hero-members-container,
.hero-results-container {
  padding: 1rem;
}

/* search form in mobile */
@media only screen and (max-width: 750px) {
  .form-col {
    display: flex;
    flex-direction: column;
  }
}

/* page team */
.heroteam-container {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  background-color: #ffffff;
  background-image: url(http://www.transparenttextures.com/patterns/escheresque-dark.png);
}

/* card styles */
.hero-cards {
  grid-row-gap: 1rem;
  margin: 3rem;
  align-content: center;
}

/* navbar title font */
.hero-font {
  font-family: "Bangers", cursive;
}

/* error text messages in forms */
.form-error {
  color: red;
  padding: 5px;
}

/*not found page*/
.not-found-page {
  background-color: rgba(184, 184, 184, 0.514);
  border: 3px solid rgb(185, 185, 185);
  width: 50vw;
  margin: auto;
  padding: 1rem;
  margin-top: 2rem;
  text-align: center;
}
.not-found-page .link {
  font-size: 2rem;
  color: rgb(41, 84, 201);
  text-decoration: underline;
}
